.htmlunits{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;  
}
.htmlunits h4{
    color: #394867;
}
.htmlunits h4:hover{
    color: #5a86b3;
}
li{
    margin: 0 0 0 20px;}
.img img{
        width: 70%;
}